@FONT-FACE {
	font-family: static.otf;
	src:url(../fonts/static_otf) format('otf');

}

.container{
	border: solid hotpink 20px;
	position: absolute;
		left: 35%;
		top: 30%;
.text {
	font-family:static.otf;
	width: 100px;
	font-size: 50px;
	color: wheat;
	position: absolute;
	left: 390px;
	top:16px;


}
.title {
	font-family:static.otf;
	width: 800px;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: .4px;
	color: hotpink;
	position: absolute;
	top:107%;
	left: -7%;

}
.cover {
		width: 336px;
		height:285px;
		background: url(..images/nothing.jpeg);




}

}


go on v-fonts.com to see typefaces for css